# Add any directories, files, or patterns you don't want to be tracked by version control

*.class

# Package Files #

*.war

*.ear

jalo/
gensrc/

bin/modules/*
bin/platform/*
bin/*.txt

.idea/
data/*
log/*
roles/*
temp/*

eclipsebin/
**/gensrc/*
**/classes/*
**/items.xsd
**/beans.xsd
**/extensioninfo.xsd
**/platformhome.properties
**/*-testclasses.xml
**/*-webtestclasses.xml
**/build.xml
**/web/addonsrc/*
**/web/commonwebsrc/*
**/web/webroot/**/addons/*
**/web/testclasses/*
**/web/addontestsrc/*

**/wro_addons.xml

**/node_modules/**
**/.sass-cache/**

/config/licence/*
**/hybris4intellij.properties

**/*_bof.jar

.classpath.bak

.DS_Store

